<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-fuchsia-200 border-dashed rounded-lg dark:border-fuchsia-700 mt-14">

    <h1 class="text-2xl font-bold text-fuchsia-600 dark:text-fuchsia-400">Appointments</h1>

    <p class="text-sm text-gray-500 dark:text-gray-400">Manage your appointments here.</p>



    <% @appointments.each do |appointment| %>

      <div class="mt-4 bg-white shadow-md rounded-lg p-4">

        <h2 class="text-xl font-bold text-fuchsia-600 dark:text-fuchsia-400">Appointment with Dr. <%= appointment.doctor.full_name %></h2>

        <p class="text-sm text-gray-500 dark:text-gray-400">Description: <%= appointment.description %></p>

        <p class="text-sm text-gray-500 dark:text-gray-400">Date: <%= appointment.date %></p>

        <p class="text-sm text-gray-500 dark:text-gray-400">Time: <%= appointment.time %></p>

        <p class="text-sm text-gray-500 dark:text-gray-400">Status: <%= appointment.status %></p>

      </div>

    <% end %>

  </div>

</div>
