<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-fuchsia-200 border-dashed rounded-lg dark:border-fuchsia-700 mt-14">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">Manage Treatments</h1>
    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">Here you can view and manage your treatments.</p>

    <form action="<%= treatments_create_treatment_path %>" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <select name="appointment_id">
        <% @completed_appointments.each do |appointment| %>
          <option value="<%= appointment.id %>">Appointment with <%= appointment.patient.full_name %> on <%= appointment.date %></option>
        <% end %>
      </select>
      <input type="text" name="treatment[prescription]" placeholder="Enter prescription">
      <input type="text" name="treatment[diagnosis]" placeholder="Enter diagnosis">
      <button type="submit" class="btn btn-primary">Add Treatment</button>
    </form>
  </div>
</div>