<h1 class="text-2xl font-semibold text-gray-900 dark:text-gray-700">Payments</h1>
<h3 class="text-lg text-gray-900 dark:text-gray-500 py-4">Make your payment</h3>

<%= form_with(model: [@treatment, @payment], local: true) do |form| %>
  <div class="space-y-4 w-fit p-4 shadow">
    <div class="field">
      <%= form.label :amount %>
      <%= form.number_field :amount, step: 0.01 %>
    </div>

    <div class="field">
      <%= form.label :payment_method, class: "block mb-2 text-sm font-medium text-gray-900"%>
      <%= form.select :payment_method, ['Select payment method', 'Credit Card', 'Medical Aid'], {}, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', id: 'payment_method' %>
    </div>

    <div id="credit_card_fields" style="display: none;">
      <div class="field">
        <%= form.label :card_number %>
        <%= form.text_field :card_number %>
      </div>

      <div class="field">
        <%= form.label :expiry_date %>
        <%= form.date_select :expiry_date %>
      </div>

      <div class="field">
        <%= form.label :cvv %>
        <%= form.number_field :cvv %>
      </div>
    </div>

    <div id="medical_aid_fields" style="display: none;">
      <div class="field">
        <%= form.label :medical_aid_provider %>
        <%= form.text_field :medical_aid_provider %>
      </div>

      <div class="field">
        <%= form.label :medical_aid_number %>
        <%= form.text_field :medical_aid_number %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit%>
    </div>
  </div>

<% end %>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var paymentMethod = document.getElementById('payment_method');
        var creditCardFields = document.getElementById('credit_card_fields');
        var medicalAidFields = document.getElementById('medical_aid_fields');

        paymentMethod.addEventListener('change', function () {
            if (paymentMethod.value == 'Credit Card') {
                creditCardFields.style.display = 'block';
                medicalAidFields.style.display = 'none';
            } else if (paymentMethod.value == 'Medical Aid') {
                creditCardFields.style.display = 'none';
                medicalAidFields.style.display = 'block';
            }
        });
    });
</script>