<%= render 'patients/topnav' %>
<%= render 'patients/sidebar' %>

<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-fuchsia-200 border-dashed rounded-lg dark:border-fuchsia-700 mt-14">
<h1>New Payment</h1>

<%= form_with(model: [@treatment, @payment], local: true) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  </div>
</div>